.basket {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 30px 0;

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__section {
        display: flex;
        align-items: center;
        padding: 0 10px;
        margin: 0 0 30px 0;
    }

    &__slider {
        flex-grow: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__card {
        max-width: 380px;
        width: 100%;
    }

    &__price {
        margin: 0 40px 0 0;
    }
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px;

    &__text {
        font-weight: 600;
        margin: 0 0 10px 0;
    }

    &__section {
        display: flex;
        align-items: center;
    }

    &__count {
        background-color: rgba($color: #ccc, $alpha: 0.8);
        border-radius: 5px;
        padding: 10px 60px;
        margin: 0 5px 0 0;
    }

    &__currency {
        font-weight: 600;
    }
}

// Slider
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.swiper-wrapper {
    justify-content: flex-start;
}
