.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    line-height: 150%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #fff;
    font-family: "Roboto";
}

main {
    flex: 1 1 auto;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.button {
    background: #6ebbd3;
    border-radius: 10px;
    padding: 22px 74px;
}

.bold {
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

.header {
    padding: 100px 124px;
    background-image: url(../images/header-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.header__section {
    display: flex;
    justify-content: space-between;
}
.header__text {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    margin-top: 46px;
}

.telephone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.telephone__number {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
}
.telephone__description {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
}

.nav__menu {
    display: flex;
    :not(:last-child) {
        margin-right: 50px;
    }
}
.nav__menu_link {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.94px;
}

// ./HEADER

.footer {
    padding: 90px 80px;
    background-color: #1f2021;
}
.footer__title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
.footer__subtitle {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    line-height: 25.54px;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
}
.form__cheakbox-text {
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.form__cheakbox-input {
    margin-right: 22px;
    order: -2;
}
.form__input {
    margin-right: 16px;
    padding: 22px 33px;
    background: #fff;
    border-radius: 10px;
}
.form__button {
    font-weight: 700;
    line-height: 17.07px;
    color: #fff;
}

// /.FOOTER

.gallery {
    margin: 30px 0 84px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.gallery__button {
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 22px 126px;
    background-color: transparent;
    margin: 0 auto 20px auto;
}

.pagination {
    width: 58px;
    height: 58px;
    background-color: #6EBBD3;
    background-image: url(../images/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.controls {
    margin: 40px 0;
}
.controls__title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.controls__menu {
    margin: 0 50px;
    option {
        font-size: 14px;
    }
}
.controls__menu_age {
    margin: 0 0 0 0;
}

.discount {
    left: 10%;
    top: 10%;
    position: absolute;
    height: 39px;
    width: 78px;
    background-color: #e52d2d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discount__percent {
    color: #fff;
}
.discount__button {
    position: absolute;
    top: 10%;
    left: 80%;
    height: 40px;
    width: 46px;
    background: transparent;
    background-image: url(../images/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    display: flex;
    flex-direction: column;
    width: 380px;
    min-height: 520px;
    margin-bottom: 28px;
    &:not(:nth-child(3n + 3)) {
        margin-right: 10px;
    }
}
.card__preview {
    width: 380px;
    height: 264px;
    position: relative;
}
.card__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card__information {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #f3f3f3;
}
.card__description {
    margin: 22px 0;
}
.card__price {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
}
.card__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
}
.card__button {
    border-radius: 0 0 10px 10px;
    font-weight: 700;
    line-height: 19.5px;
    color: #fff;
}

.description {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    :not(:last-child) {
        margin-right: 10px;
    }
}
.description__item {
    font-size: 12px;
    line-height: 14.63px;
}
.description__item_color {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 26px;
        width: 4px;
        background-color: #6ebbd3;
        left: -20%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
