.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    line-height: 150%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #fff;
    font-family: "Roboto";
}

main { 
    flex: 1 1 auto;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    padding: 100px 124px;
    background-image: url(../images/header-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.header__section {
    display: flex;
    justify-content: space-between;
}
.header__text {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    margin-top: 46px;
}

.telephone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.telephone__number {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.telephone__description {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.nav__menu {
    display: flex;
    :not(:last-child) {
        margin-right: 50px;
    }
}
.nav__menu_link {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

// ./HEADER

.footer {
    padding: 90px 80px;
    background-color: #1f2021;
}
.footer__title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
.footer__subtitle {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
}
.form__cheakbox-text {
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.form__cheakbox-input {
    margin-right: 22px;
    order: -2;
}
.form__input {
    margin-right: 16px;
    padding: 22px 33px;
    background: #fff;
    border-radius: 10px;
}
.form__button {
    background: #6ebbd3;
    border-radius: 10px;
    padding: 22px 74px;
}


// /.FOOTER

.controls {
    margin: 40px 0;
}
.controls__title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.controls__menu {
    margin: 0 50px;
    option {
        font-size: 14px;
    }
}
.controls__menu_age {
    margin: 0 0 0 0;
}