.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
        -webkit-animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;

        &:nth-child(1) {
            -webkit-animation-delay: -0.036s;
            animation-delay: -0.036s;

            &:after {
                top: 63px;
                left: 63px;
            }
        }

        &:nth-child(2) {
            -webkit-animation-delay: -0.072s;
            animation-delay: -0.072s;

            &:after {
                top: 68px;
                left: 56px;
            }
        }

        &:nth-child(3) {
            -webkit-animation-delay: -0.108s;
            animation-delay: -0.108s;

            &:after {
                top: 71px;
                left: 48px;
            }
        }

        &:nth-child(4) {
            -webkit-animation-delay: -0.144s;
            animation-delay: -0.144s;

            &:after {
                top: 72px;
                left: 40px;
            }
        }

        &:nth-child(5) {
            -webkit-animation-delay: -0.18s;
            animation-delay: -0.18s;

            &:after {
                top: 71px;
                left: 32px;
            }
        }

        &:nth-child(6) {
            -webkit-animation-delay: -0.216s;
            animation-delay: -0.216s;

            &:after {
                top: 68px;
                left: 24px;
            }
        }

        &:nth-child(7) {
            -webkit-animation-delay: -0.252s;
            animation-delay: -0.252s;

            &:after {
                top: 63px;
                left: 17px;
            }
        }

        &:nth-child(8) {
            -webkit-animation-delay: -0.288s;
            animation-delay: -0.288s;

            &:after {
                top: 56px;
                left: 12px;
            }
        }

        &:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #525252;
            margin: -4px 0 0 -4px;
        }
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}