.burger {
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 100%;
    margin: 0;
    left: -100%;
    top: 0;
    transition: transform 0.45s ease-in-out;

    &__nav {
        height: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);

        .nav__menu {
            text-align: center;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
        }

        .nav__menu_item {
            &:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }

        .nav__menu_link {
            transition: 0.15s linear;

            &:hover {
                color: #6ebbd3;
            }
        }
    }
}

.burger.active {
    position: fixed;
    transform: translate(100%, 0);
}