.overview {
    padding: 20px 0 50px 0;
    height: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        min-height: 700px;
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1;
        min-height: 640px;
    }

    &__card {
        margin: 10px;
        height: 300px;
        width: 300px;
    }

    &__image {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    &__button {
        padding: 22px 126px;
        border-radius: 5px;
        margin: 30px auto 0 auto;
        border: 1px solid #cacaca;
        transition: all 0.15s linear;
        transform: scale(1);

        &:hover {
            background-color: #abadad;
        }

        &:active {
            transform: scale(1.05);
        }
    }
}