.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    min-width: 390px;
    max-width: 650px;
    flex-grow: 1;
}

.card__preview {
    position: relative;
    height: 264px;
    border-radius: 10px 10px 0 0;
}

.card__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card__information {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #f3f3f3;
}

.card__description {
    flex: 1;
    margin: 22px 0;
}

.card__price {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
}

.card__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
}

.card__button.card__button {
    border-radius: 0 0 10px 10px;
    font-weight: 700;
    line-height: 19.5px;
    color: #fff;
    background-color: #6ebbd3;
}

.card__button-sold.card__button-sold {
    @extend .card__button;
    border-radius: 0 0 10px 10px;
    background-color: #1f2021;
}

.discount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__icons_discount {
    background-color: #e52d2d;
    border-radius: 10px;
    color: #fff;
    padding: 8px 20px;
    min-width: 74px;
}

.card__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 34px;
}

.card__icons_button {
    height: 46px;
    width: 46px;
    background: transparent;
    padding: 0;
    opacity: 0.58;
    flex: 1;
    max-width: 45px;
    margin: 0 0 0 auto;

    &:hover svg {
        fill: #e52d2d;
    }

    &:disabled {
        svg {
            fill: #000;
        }
    }

    svg {
        transition: 0.25s linear;
    }
}

.card__icons_button.like {
    @extend .card__icons_button;
    opacity: 1;

    svg {
        fill: #e52d2d;
    }

    -webkit-animation: scale 0.35s ease-out both;

    animation: scale 0.35s ease-out both;

    @-webkit-keyframes scale {
        0% {
            transform: scale(1);
        }

        25% {
            transform: scale(1.05);
        }

        50% {
            transform: scale(1.1);
        }

        75% {
            transform: scale(1.05);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes scale {
        0% {
            transform: scale(1);
        }

        25% {
            transform: scale(1.05);
        }

        50% {
            transform: scale(1.1);
        }

        75% {
            transform: scale(1.05);
        }

        100% {
            transform: scale(1);
        }
    }
}

.card__icons_button.unlike {
    @extend .card__icons_button;
    -webkit-animation: shaking 0.3s ease-in-out;
    animation: shaking 0.3s ease-in-out;
    transform-origin: 50% 50%;

    @-webkit-keyframes shaking {
        0% {
            transform: translateX(0) rotate(0);
        }

        25% {
            transform: translateX(-10px) rotate(-5deg);
        }

        50% {
            transform: translateX(10px) rotate(5deg);
        }

        75% {
            transform: translateX(-5px) rotate(-2deg);
        }

        100% {
            transform: translateX(0) rotate(0);
        }
    }

    @keyframes shaking {
        0% {
            transform: translateX(0) rotate(0);
        }

        25% {
            transform: translateX(-10px) rotate(-5deg);
        }

        50% {
            transform: translateX(10px) rotate(5deg);
        }

        75% {
            transform: translateX(-5px) rotate(-2deg);
        }

        100% {
            transform: translateX(0) rotate(0);
        }
    }
}

.description {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 15px;
}

.description__item {
    font-size: 12px;
    line-height: 14.63px;

    &:not(:last-child) {
        margin: 0 10px 0 0;
    }
}

.description__item_location {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 26px;
        width: 4px;
        background-color: #6ebbd3;
        left: -1.3em;
        top: 0;
    }
}