.header {
    padding: 60px 124px 100px 124px;
    background-image: url(../../assets/images/header-background.jpg);
    background-color: #1f2021;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 0 auto;
}
.header__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 46px;
}
.header__text {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
}

.header__text--loading {
    :not(:last-child) {
        margin: 0 3px 0 0;
    }
    :nth-child(0) {
        animation-delay: 0s;
    }
    :nth-child(1) {
        animation-delay: 0.2s;
    }
    :nth-child(2) {
        animation-delay: 0.4s;
    }
    :nth-child(3) {
        animation-delay: 0.6s;
    }
}
.header__text_dot {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    animation: loading-animation 1s ease-in-out infinite;
    @keyframes loading-animation {
        0%,
        100% {
            transform: scale(0.6);
        }
        40% {
            transform: scale(1);
        }
        50% {
            transform: scale(1);
        }
    }
}

.telephone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.telephone__number {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
}
.telephone__description {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
}

.nav__menu {
    display: flex;
}
.nav__menu-burger {
    @extend .nav__menu;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav__menu_item {
    &:not(:last-child) {
        margin-right: 50px;
    }
}
.nav__menu_item-burger {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.nav__menu_link {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.94px;
}
.nav__menu_link.active {
    color: #6ebbd3;
}

.nav__menu_link-burger {
    @extend .nav__menu_link;
    transition: 0.15s linear;
    &:hover {
        color: #6ebbd3;
    }
}
