.menu {
    width: 45px;
    height: 35px;
    position: fixed;
    top: 15px;
    left: 0;
    z-index: 3;
}

.menu div {
    width: 35px;
    height: 5px;
    background: rgb(223, 212, 212);
    margin: 5px;
    transition: all 0.35s;
    border-radius: 2px;
}

.burger {
    position: absolute;
    min-width: 100%;
    z-index: 2;
    height: 100vh;
    left: -100%;
    top: 0;
    transition: transform 0.55s ease-in-out;
}
.burger.active {
    transform: translate(100%, 0);
}


.burger__nav {
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav__menu_item-burger {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.94px;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.nav__menu-burger {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
