.menu {
    background-color: transparent;
    width: 45px;
    height: 35px;
    position: fixed;
    top: 1%;
    left: 0;
    z-index: 3;
    padding: 5px;
    margin: 0;

    :not(:last-child) {
        margin: 0 0 5px 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.menu__line {
    width: 35px;
    height: 5px;
    background-color: rgb(223, 212, 212);
    transition: transform ease-in 0.35s;
    border-radius: 2px;
    display: block;
}

.menu__line-top.opened {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: #e52d2d;
}

.menu__line-middle.opened {
    opacity: 0;
}

.menu__line-bottom.opened {
    transform: rotate(-45deg) translate(7px, -7px);
    background-color: #e52d2d;
}