.nav {
    &__menu {
        display: flex;
    }

    &__menu_item {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__menu_link {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        line-height: 21.94px;
        transition: all 0.2s linear;

        &:hover {
            color: #ccc;
        }
    }

    &__menu_link.active {
        color: #6ebbd3;
    }
}