.App {
    height: 100%;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#root {
    height: 100%;
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #fff;
    font-family: "Roboto";
}

main {
    flex: 1 0 auto;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    background-color: #6ebbd3;
    border-radius: 10px;
    padding: 22px 74px;
}

.bold {
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

svg {
    flex-shrink: 0;
}

.gallery {
    margin: 30px 0 84px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    overflow: hidden;

    // height: 540px;
}
.gallery__button {
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 22px 126px;
    background-color: transparent;
    margin: 0 auto 20px auto;
    transition: .15s linear;
    &:hover {
        background-color: #abadad;
    }
}

.pagination {
    width: 58px;
    height: 58px;
    background-color: #6ebbd3;
    position: absolute;
    right: 0;
    bottom: 0;
    &:hover .icon__arrow path {
        fill: #abadad;
        transition: 0.1s linear;
    }
}



