.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#root {
    height: 100%;
}

body {
    line-height: 150%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #fff;
    font-family: "Roboto";
}

main {
    flex: 1 0 auto;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.button {
    background: #6ebbd3;
    border-radius: 10px;
    padding: 22px 74px;
}

.bold {
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

svg {
    flex-shrink: 0;
}

.gallery {
    margin: 30px 0 84px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    height: auto;
}
.gallery__button {
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 22px 126px;
    background-color: transparent;
    margin: 0 auto 20px auto;
}

.pagination {
    width: 58px;
    height: 58px;
    background-color: #6EBBD3;
    background-image: url(../src/assets/images/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.controls {
    margin: 40px 0;
}
.controls__title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.controls__menu {
    margin: 0 50px;
    option {
        font-size: 14px;
    }
}
.controls__menu_age {
    margin: 0 0 0 0;
}
