@media (max-width: 1200px) {
    .form__input.form__input {
        margin: 0 0 20px 0;
    }

    .form__controls {
        display: flex;
        flex-direction: column;
    }

    .footer__wrapper {
        align-items: center;
    }

    .basket__section {
        justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    .overview__gallery {
        grid-template-columns: repeat(10, 1fr);
    }

    .overview__card {
        grid-column: 5 span;
    }
}

@media (max-width: 992px) {
    .header.header {
        padding: 60px;
    }

    .footer.footer {
        padding: 90px 40px;
    }

    .footer__wrapper {
        flex-wrap: wrap;
    }

    .footer__description.footer__description {
        flex: auto;
        margin-bottom: 60px;
    }

    .gallery__button {
        margin: 0 auto 100px auto;
    }
}

@media (max-width: 768px) {

    .header__logo {
        margin: 0 10px 0 0;
    }

    .gallery__cards {
        grid-template-columns: repeat(8, 1fr)
    }

    .card {
        grid-column: 4 span;
    }

    .basket {
        padding: 40px 0 40px 0;
    }

    .price.price {
        align-items: center;
    }

    .controls__menu {
        flex: 1;

        &:not(:last-child) {
            margin: 0 50px 0 0;
        }
    }

    .controls {
        flex-direction: column;
    }

    .controls__wrapper {
        margin-top: 24px;
    }

    .header.header {
        padding: 60px 30px;
    }

    .footer.footer {
        padding: 90px 10px;
    }

    .icon__logo {
        display: none;
    }

    .gallery__button {
        width: 100%;
        padding: 20px 0;
    }

    .basket__section {
        flex-direction: column;
    }

    .basket__price {
        margin: 0 0 40px 0;
    }

    .basket__filter {
        width: 80%;
    }

    .filter {
        width: 100%;
    }

    .footer.footer {
        padding: 90px 0;
    }

    .footer__description {
        text-align: center;
    }
}

@media screen and (max-width: 475px) {
    .gallery__cards {
        grid-template-columns: repeat(4, 1fr)
    }

    .card {
        grid-column: 4 span;
    }

    .overview__gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .overview__card {
        grid-column: 4 span;
    }

}

@media screen and (max-width: 375px) {
    .basket__filter {
        width: 70%;
    }

    .header__section {
        flex-direction: column;
    }

    .header__logo {
        margin: 0 0 20px 0;
    }
}