*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

image {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

// ./ nullstyles

#root,
.App {
    height: 100%;
}


html,
body {
    height: 100%;
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #f3f3f3;
    font-family: "Roboto", sans-serif;
    position: relative;
    overflow-x: hidden;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: #fff;
}

.container {
    max-width: 1250px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.container--middle {
    @extend .container;
    max-width: 1300px;
}

.section {
    height: 100%;
}

.section__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 804px;
}

.section__image {
    -o-object-fit: contain;
    object-fit: contain;
    width: 265px;
    height: 256px;
}

.section__title {
    font-weight: 400;
    font-size: 44px;
    text-align: center;
}

.section__title-error {
    font-weight: 900;
    font-size: 120px;
}

.section__link {
    margin: 0;
}

.error {
    margin: auto;
    text-align: center;
    padding: 15vh 0;
}

.empty {
    text-align: center;

    &__preview {
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
        height: 110px;
        max-width: 110px;
        width: 100%;
        margin: 0 0 10px 0;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
    }
}

// /. general pages styles

.button {
    background-color: #6ebbd3;
    border-radius: 10px;
    padding: 22px 74px;
}

.bold {
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

//

svg {
    flex-shrink: 0;
}

.icon__close {
    fill: #000;
}

.icon__notification {
    width: 25px;
    height: 25px;
    fill: #000;
    transition: all 0.15s linear;
}

//

.gallery {
    padding: 30px 0 84px 0;
    height: 100%;
}

.gallery__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 700px;
}

.gallery__controls {
    margin: 0 0 10px 0;
}

.gallery__cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin: 0 0 30px 0;
}

.gallery__button {
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 22px 126px;
    background-color: transparent;
    margin: 0 auto 20px auto;
    transition: all 0.15s linear;
    transform: scale(1);

    &:hover {
        background-color: #abadad;
    }

    &:active {
        transform: scale(1.05);
    }
}

.pagination {
    width: 58px;
    height: 58px;
    background-color: #6ebbd3;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;

    &:hover svg {
        fill: #abadad;
    }

    svg {
        transition: 0.2s linear;
    }
}

// /. main page styles